<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sqrshare.android"
      android:versionCode="1"
      android:versionName="1.0">
     <uses-sdk android:minSdkVersion="3"
            android:targetSdkVersion="4"/>

  <supports-screens
                    android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="true"
                    android:anyDensity="true"/>

  <uses-feature android:name="android.hardware.camera"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<uses-library android:name="com.google.android.maps" />
        <activity android:name=".AndroidSqrShareActivity"        			
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>
        <activity android:name="com.google.zxing.client.android.CaptureActivity"
              android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:windowSoftInputMode="stateAlwaysHidden">
	      <intent-filter>
	        <action android:name="android.intent.action.VIEW"/>
	        <category android:name="android.intent.category.DEFAULT"/>
	      </intent-filter>
	      <intent-filter>
	        <action android:name="com.sqrshare.android.com.google.zxing.client.android.SCAN"/>
	        <category android:name="android.intent.category.DEFAULT"/>
	      </intent-filter>
	      <!-- Allow web apps to launch Barcode Scanner by linking to http://zxing.appspot.com/scan. -->
	      <intent-filter>
	        <action android:name="android.intent.action.VIEW"/>
	        <category android:name="android.intent.category.DEFAULT"/>
	        <category android:name="android.intent.category.BROWSABLE"/>
	        <data android:scheme="http" android:host="zxing.appspot.com" android:path="/scan"/>
	      </intent-filter>
	      <!-- We also support a Google Product Search URL. -->
	      <intent-filter>
	        <action android:name="android.intent.action.VIEW"/>
	        <category android:name="android.intent.category.DEFAULT"/>
	        <category android:name="android.intent.category.BROWSABLE"/>
	        <data android:scheme="http" android:host="www.google.com" android:path="/m/products/scan"/>
	      </intent-filter>
	      <!-- And the UK version. -->
	      <intent-filter>
	        <action android:name="android.intent.action.VIEW"/>
	        <category android:name="android.intent.category.DEFAULT"/>
	        <category android:name="android.intent.category.BROWSABLE"/>
	        <data android:scheme="http" android:host="www.google.co.uk" android:path="/m/products/scan"/>
	      </intent-filter>
	    </activity>
	    <activity android:name=".QRCodeActivity" android:label="@string/custom_share" android:icon="@drawable/qrcode" android:theme="@android:style/Theme.NoTitleBar">
	        <intent-filter>
				<action android:name="android.intent.action.SEND" />
				<data android:mimeType="text/plain" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
	    </activity>
	    <activity android:name=".MainCompanyActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
	    <activity android:name=".tabactivities.CompanyInfoActivity"></activity>
		<activity android:name=".tabactivities.LocationActivity"></activity>
		<activity android:name=".tabactivities.HoursActivity"></activity>
		<activity android:name=".tabactivities.PhotosActivity"></activity>
		<activity android:name=".tabactivities.CommentActivity"></activity>
		<activity android:name="RunMap" android:label="@string/map_name"></activity>
		<activity android:name=".FavoritesActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".HistoryActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		
    </application>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
</manifest>